body {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.colorRocket {
  background-color: #7159c1;
  color: white;
  /* color: white; */
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-family: sans-serif;
  /* color: white; */
}
.name {
  margin: auto;
  margin-left: 10px;
}
ul {
  list-style: none;
  padding: 10px;
}

li {
  /* border: 1px solid black; */
  margin-top: 10px;
}

.titleBar {
  margin: auto;
  font-size: 24px;
}

.inputSearch {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  /* background-color: magenta; */
  padding: 40px;
}

.boxUsers {
  width: 50%;
  height: 100%;
  /* background-color: lightsalmon; */
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.boxStats {
  width: 50%;
  height: 100%;
  /* background-color: lime; */
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-left: 10px;
}

.topBar {
  background-color: #7159c1;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  color: azure;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: sans-serif;
  letter-spacing: 2px;
}

.rowStats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

#titleUsers,
#titleStats {
  background-color: #228838;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  color: azure;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: sans-serif;
  letter-spacing: 2px;
}
.boxTitle {
  background-color: #228838;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  color: azure;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: sans-serif;
}

.titleData {
  margin-left: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 15px;
  border: 1px solid #7159c1;
}

.rowStyle {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.rowStyleOnClick {
  background-color: orange;
}

.boxIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
